In [1]:
from fetch import DataFetcher

In [ ]:
#    admin@kasm.local
#    8qz0ykjy3Zs3D


#esta es para sacar el tiempo actual en formato iso para ponerle el start time

from datetime import datetime, timezone

now_iso = datetime.now(timezone.utc).strftime("%Y-%m-%dT%H:%M:%SZ")
print(now_iso)

In [18]:
from datetime import datetime, timezone
import time

symbol = "BTC/USD"
start_time = "2025-09-17T00:00:00Z"  # ISO format for start time
current_time = int(time.time() * 1000)  # Current time in milliseconds
exchange_name = 'coinbase'
time_interval = '1m'
start_time_count = 0
# Create an instance of DataFetcher
fetcher = DataFetcher(symbol, start_time, current_time, exchange_name, start_time_count, time_interval)

# Fetch the data
df = fetcher.fetch_main()

In [19]:
df

,time_count,date,date_time_iso,open,high,low,close,volume
0,0,1758067200000,2025-09-17 00:00:00,116832.56,116878.26,116823.73,116838.01,7.025032
1,1,1758067260000,2025-09-17 00:01:00,116838.01,116838.01,116781.13,116797.94,7.548148
2,2,1758067320000,2025-09-17 00:02:00,116797.94,116797.94,116742.83,116746.41,7.870936
3,3,1758067380000,2025-09-17 00:03:00,116746.41,116765.77,116746.40,116762.96,0.505730
4,4,1758067440000,2025-09-17 00:04:00,116762.96,116795.70,116762.95,116783.75,0.651668
...,...,...,...,...,...,...,...,...
62,62,1758070920000,2025-09-17 01:02:00,116630.20,116630.20,116614.17,116614.18,3.069605
63,63,1758070980000,2025-09-17 01:03:00,116614.18,116614.18,116606.98,116610.90,1.505871
64,64,1758071040000,2025-09-17 01:04:00,116610.90,116620.00,116610.90,116613.85,0.634629
65,65,1758071100000,2025-09-17 01:05:00,116613.85,116620.02,116613.84,116620.02,0.695935
66,66,1758071160000,2025-09-17 01:06:00,116620.01,116620.02,116606.97,116606.98,1.378469

In [20]:
from segments import RegressionSegments # Import the class
from quantreg import QuantileRegressionLines  # Import the class
import line_properties

In [24]:
#linear regression segments process
segments = RegressionSegments(df) 

# Step 2: Call the run_all method
regression_segmentation = segments.segmentation_processes()
print(regression_segmentation)
regression_segmentation2 = segments.remove_duplicates_preserve_order(regression_segmentation)

[(0, np.int64(66)), (0, np.int64(66)), (0, np.int64(66)), (0, np.int64(66)), (0, np.int64(66))]

In [22]:
#quantile regression process
qr = QuantileRegressionLines(df, regression_segmentation2)

df_qr = qr.run_all()
# df_qr goes to plot chart

#Line properties
lines_properties = line_properties.calculate_and_add_properties(df_qr)
lines_coordinates = line_properties.calculate_and_add_coordinates_only(df_qr)
start_time_lower_interval = line_properties.format_datetime_intervals(regression_segmentation2, df, time_interval)

#save the following in a shared data class 

    table_name1 = f"prices_{short_symbol}_{time_interval}"
    table_name2 = f"qr_lines_{short_symbol}_{time_interval}"
    table_name3 = f"lines_properties_{short_symbol}_{time_interval}"
    table_name4 = f"lines_coordinates_{short_symbol}_{time_interval}"
    table_name5 = f"start_time_lower_interval_{short_symbol}_{time_interval}"
    
    save_df_sqlite(df, table_name1, if_exists='replace')
    save_df_sqlite(df_qr, table_name2, if_exists='replace')
    save_df_sqlite(lines_properties, table_name3, if_exists='replace')
    save_df_sqlite(lines_coordinates, table_name4, if_exists='replace')
    save_df_sqlite(start_time_lower_interval, table_name5, if_exists='replace')

In [7]:
regression_segmentation2

[(210, np.int64(294))]

In [8]:
regression_segmentation

[(210, np.int64(294)),
 (210, np.int64(294)),
 (210, np.int64(294)),
 (210, np.int64(294)),
 (210, np.int64(294))]

In [9]:
segments

In [11]:
lines_properties

Empty DataFrame
Columns: []
Index: []

In [ ]:

#code to change the data frame to just works with the original code to plot 
#the issue is that it is expecting a index with the timestamp
import pandas as pd

def change_df_plot(df_filtered):
    # Convert 'date' from ms to datetime and set it as the index
    df_filtered = df_filtered.copy()
    df_filtered.index = pd.to_datetime(df_filtered['date'], unit='ms', utc=True)
    
    # Make sure the index is sorted and unique (good practice for mplfinance)
    df_filtered = df_filtered.sort_index()
    df_filtered = df_filtered[~df_filtered.index.duplicated(keep='last')]
    return df_filtered

df_filtered = change_df_plot(df_qr)

In [36]:
import pandas as pd        # for handling DataFrames
import matplotlib.pyplot as plt  # optional, but useful if you want extra customization
import mplfinance as mpf   # for candlestick and financial plotting


filename = 'temp_test'

In [26]:
def plot_chart(df_filtered, filename):
    #################PLOT
    #entra la varialbe output de process_quantile_regression que seria de QuantileRegressionLines.run_all

    # Identify the quantile regression columns that passed the correlation filter
    qr_columns = [col for col in df_filtered.columns if 'QR_' in col] # Get all QR columns

    # Create additional plots for the quantile regression lines
    add_plots = [mpf.make_addplot(df_filtered[qr_column], color='blue') for qr_column in qr_columns]

    # Current timestamp to append to the filename
    #filename = f'BTC_USDT_4h_QR_chart.png'

    # Plot the candlestick chart with the quantile regression lines
    mpf.plot(df_filtered, type='candle', addplot=add_plots, style='charles',
             title='BTC/USDT with Quantile Regression Lines', figratio=(35.0, 8.0), savefig=filename)

In [ ]:
plot_chart(df_filtered, filename)

In [38]:
df_qr

,time_count,date,date_time_iso,open,high,low,close,volume,QR_0_05,QR_0_95
0,0,1758067200000,2025-09-17 00:00:00,116832.56,116878.26,116823.73,116838.01,7.025032,116685.354997,116849.400322
1,1,1758067260000,2025-09-17 00:01:00,116838.01,116838.01,116781.13,116797.94,7.548148,116684.167497,116846.258387
2,2,1758067320000,2025-09-17 00:02:00,116797.94,116797.94,116742.83,116746.41,7.870936,116682.979997,116843.116451
3,3,1758067380000,2025-09-17 00:03:00,116746.41,116765.77,116746.40,116762.96,0.505730,116681.792497,116839.974516
4,4,1758067440000,2025-09-17 00:04:00,116762.96,116795.70,116762.95,116783.75,0.651668,116680.604997,116836.832581
...,...,...,...,...,...,...,...,...,...,...
62,62,1758070920000,2025-09-17 01:02:00,116630.20,116630.20,116614.17,116614.18,3.069605,116611.730000,116654.600322
63,63,1758070980000,2025-09-17 01:03:00,116614.18,116614.18,116606.98,116610.90,1.505871,116610.542500,116651.458387
64,64,1758071040000,2025-09-17 01:04:00,116610.90,116620.00,116610.90,116613.85,0.634629,116609.355000,116648.316451
65,65,1758071100000,2025-09-17 01:05:00,116613.85,116620.02,116613.84,116620.02,0.695935,116608.167500,116645.174516
66,66,1758071160000,2025-09-17 01:06:00,116620.01,116620.02,116606.97,116606.98,1.378469,116606.980000,116642.032581